<a href="https://colab.research.google.com/github/the-singingship/TSS_2024/blob/main/Day_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Assignment 1

**Q1.** L is a list defined as L= [11, 12, 13, 14].

1.   WAP to add 50 and 60 to L.
2.   WAP to remove 11 and 13from L.
3.   WAP to sort L in ascending order.
4.   WAP to sort L in descending order.
5.   WAP to search for 13 in L.
6.   WAP to count the number of elements present in L.
7.   WAP to sum all the elements in L.
8.   WAP to sum all ODD numbers in L.
9.   WAP to sum all EVEN numbers in L.
10.  WAP to sum all PRIME numbers in L.
11.  WAP to clear all the elements in L.
12.  WAP to delete L.

In [1]:
L= [11, 12, 13, 14]
L.append(50)
L.append(60)
print(L)
L.remove(11)
L.remove(13)
print(L)
L.sort()
print(L)
L.sort(reverse=True)
print(L)

for i in range (len(L)):
  if L[i]==13:
    print("13 is in the list")
    break
  else:
    pass

c=s=0
for i in L:
  c+=1
  s+=i
print("No of elements in the list are ",c)
print("Sum of elements of the list are ",s)

e=o=0
for i in L:
  if(i%2==0):
    e+=i
  else:
    o+=i
print("Sum of all the odd nos are",o,"and the sum of all the even nos are",e)

for num in L:
  p = True
  for i in range(2, num // 2 + 1):
    if num % i == 0:
      p = False
      break
    else:
      print(num, "is a prime no")

L.clear()
print(L)
del L

[11, 12, 13, 14, 50, 60]
[12, 14, 50, 60]
[12, 14, 50, 60]
[60, 50, 14, 12]
No of elements in the list are  4
Sum of elements of the list are  136
Sum of all the odd nos are 0 and the sum of all the even nos are 136
[]

**Q2.** D is a dictionary defined as D= {1:5.6, 2:7.8, 3:6.6, 4:8.7, 5:7.7}.
1.   WAP to add new entry in D; key=8 and value is 8.8
2.   WAP to remove key=2.
3.   WAP to check weather 6 key is present in D.
4.   WAP to count the number of elements present in D.
5.   WAP to add all the values present D.
6.   WAP to update the value of 3 to 7.1.
7.   WAP to clear the dictionary.

In [13]:
D={1:5.6, 2:7.8, 3:6.6, 4:8.7, 5:7.7}
D[8]=8.8
print(D)

del D[2]
print("Removed key 2:", D)

if 6 in D:
  print("Key 6 is present in the dictionary")
else:
  print("Key 6 is not present in the dictionary")

n=len(D)
print("Number of elements:", n)

sum=sum(D.values())
print("Sum of all values:", sum)

D[3] = 7.1
print("Updated value of key 3 to 7.1:", D)

D.clear()
print(D)

{1: 5.6, 2: 7.8, 3: 6.6, 4: 8.7, 5: 7.7, 8: 8.8}
Removed key 2: {1: 5.6, 3: 6.6, 4: 8.7, 5: 7.7, 8: 8.8}
Key 6 is not present in the dictionary
Number of elements: 5
Sum of all values: 37.4
Updated value of key 3 to 7.1: {1: 5.6, 3: 7.1, 4: 8.7, 5: 7.7, 8: 8.8}
{}

**Q3.** S1 is a set defined as S1= [10, 20, 30, 40, 50, 60].
S2 is a set defined as S2= [40, 50, 60, 70, 80, 90].

1.   WAP to add 55 and 66 in Set S1.
2.   WAP to remove 10 and 30 from Set S1.
3.   WAP to check whether 40 is present in S1.
4.   WAP to find the union between S1 and S2.
5.   WAP to find the intersection between S1 and S2.
6.   WAP to find the S1 - S2.

In [16]:
S1= set([10, 20, 30, 40, 50, 60])
S2= set([40, 50, 60, 70, 80, 90])

S1.add(55)
S1.add(66)
print(S1)

S1.remove(10)
S1.remove(30)
print(S1)

if 40 in S1:
  print("40 is present in S1")
else:
  print("40 is not present in S1")

union=S1.union(S2)
print("Union of S1 and S2:",union)

intersect= S1.intersection(S2)
print("Intersection of S1 and S2:", intersect)

diff= S1.difference(S2)
print("Difference of S1 and S2:", diff)

{66, 40, 10, 50, 20, 55, 60, 30}
{66, 40, 50, 20, 55, 60}
40 is present in S1
Union of S1 and S2: {66, 70, 40, 80, 50, 20, 55, 90, 60}
Intersection of S1 and S2: {40, 50, 60}
Difference of S1 and S2: {66, 20, 55}

**Q4.** Write the following program.

1. WAP to print 100 random strings whose length between 6 and 8.
2. WAP to print all prime numbers between 600 and 800.
3. WAP to print all numbers between 100 and 1000 that are divisible by 7 and 9.

In [5]:
import random
import string

for i in range(100):
    random_string = ''.join(random.choice(string.ascii_letters)
    for j in range(random.randint(6, 8)))
    print(random_string)

for num in range(600, 801):
  p = True
  for i in range(2, num // 2 + 1):
    if num % i == 0:
      p = False
      break
  if p:
      print(num, "is a prime no")

for num in range(100, 1001):
  if num % 7 == 0 and num % 9 == 0:
    print(num)

lJGTrg
xHDtRSEi
mgZbSnYu
ILZJwdr
UNSogEUx
uMaibBo
LtFmGK
oTarcZZc
XBZMVmC
LyQqpzSK
NFnMwapw
izshZfn
wRweVT
MIhjci
tlaWCVvN
YCXvpEXw
NqgTUsZF
iEKlQVG
IJVfoqm
oqfZXNl
PITlLp
BWJFqzca
CHMYqE
BmhosrN
mxptPE
FnLsmbVc
gMmdCEZ
VTXZFr
jsuPVkF
OuKcfw
uWnBDDZ
PuWDfza
tZieRlTA
OuxXfvCj
rbDbjF
LowujKm
nwzAfhY
UErXaHI
URqFlKvF
uySDNPG
JKhlhOyv
NRBsnB
jeCFycQz
ytNFTlCg
BpmLEX
fFUTfuyg
yMtQPT
BDlVYwGC
ZoMglnm
ACmdhI
gryUjY
QoGYsrZA
wAjLCEQn
FNScEcCd
HStuYQt
kYybTpWx
NLITJJ
jTWntm
ZZvpeZWq
JmjNgi
PJynAvv
FvDUBA
BnHbMcOh
dTtEVf
lgfDGKPP
qIkBnlNj
qTncJuKb
ibAsJy
XUJxhcp
wEAWzm
TIgdyi
opUmJjI
hlsqVwH
PUXNGDCX
xrVgIO
ozTOUVd
SzsvOT
eSDBADTa
NcuFsMWU
zgeZle
vijERxai
mfJqnKSD
gkSRHkO
UWtpbeR
MDEoyb
vwrQNkfQ
aGqDrJB
XzjKYx
JefoDI
QsYZxe
HRsURUMQ
WniItBD
xNrjFS
FKpZvS
znTKQmdp
yULCWv
KIMFFPnY
MSFgwz
ofwmAQPQ
FNDAcw
601 is a prime no
607 is a prime no
613 is a prime no
617 is a prime no
619 is a prime no
631 is a prime no
641 is a prime no
643 is a prime no
647 is a prime no
653 is a prime no
659 is a prime no
661 is a prime no
673 is a prime no
677 is a prime no
683 is a prime no
691 is a prime no
701 is a prime no
709 is a prime no
719 is a prime no
727 is a prime no
733 is a prime no
739 is a prime no
743 is a prime no
751 is a prime no
757 is a prime no
761 is a prime no
769 is a prime no
773 is a prime no
787 is a prime no
797 is a prime no
126
189
252
315
378
441
504
567
630
693
756
819
882
945

**Q5.** WAP to create two lists of 10 random numbers between 10 and 30; Find
1. Common numbers in the two lists
2. Unique numbers in both the list
3. Minimum in both the list
4. Maximum in both the list
5. Sum of both the lists

In [10]:
import random
L1=[]
L2=[]
for i in range(10):
  L1.append(random.randint(10, 30))
for i in range(10):
  L2.append(random.randint(10, 30))
print(L1)
print(L2)

com=set(L1).intersection(set(L2))
print("Common numbers:", com)

uniL1=list(set(L1) - set(L2))
uniL2=list(set(L2) - set(L1))
uninum=uniL1 + uniL2
print("Unique numbers in both lists:", uninum)

min1 = min(L1)
min2 = min(L2)
print("Minimum in list 1:", min1)
print("Minimum in list 2:", min2)

max1 = max(L1)
max2 = max(L2)
print("Maximum in list 1:", max1)
print("Maximum in list 2:", max2)

sum1=sum(L1)
sum2=sum(L2)
sum = sum1 + sum2
print("Sum of list 1:", sum1)
print("Sum of list 2:", sum2)
print("Total sum of both lists:", sum)

[18, 29, 19, 13, 16, 12, 13, 13, 26, 14]
[11, 25, 22, 27, 24, 27, 16, 23, 18, 20]
Common numbers: {16, 18}
Unique numbers in both lists: [12, 13, 14, 19, 26, 29, 11, 20, 22, 23, 24, 25, 27]
Minimum in list 1: 12
Minimum in list 2: 11
Maximum in list 1: 29
Maximum in list 2: 27
Sum of list 1: 173
Sum of list 2: 213
Total sum of both lists: 386

Q6. WAP to create a list of 100 random numbers between 100 and 900. Count and print the:

1. All odd numbers
2. All even numbers
3. All prime numbers

In [16]:
L=[]
for i in range(100):
  L.append(random.randint(100,900))

o=e=p=0
for num in L:
  if (num%2==0):
    e+=1
  else:
    o+=1
print("There are",o,"odd numbers and",e,"even numbers.")

for num in L:
  p = True
  for i in range(2, num // 2 + 1):
    if num % i == 0:
      p = False
      break
  if p:
      print(num, "is a prime no")

There are 49 odd numbers and 51 even numbers.
307 is a prime no
179 is a prime no
617 is a prime no
401 is a prime no
157 is a prime no
457 is a prime no
739 is a prime no
607 is a prime no
281 is a prime no
547 is a prime no
643 is a prime no
191 is a prime no
181 is a prime no
277 is a prime no
449 is a prime no
439 is a prime no
307 is a prime no
211 is a prime no

Q7. D is a dictionary defined as D={1:"One",2:"Two",3:"Three",4:"Four", 5:"Five"}.
WAP to read all the keys and values from dictionary and write to the file in the given below format.

Key1, Value1

Key2, Value2

Key3, Value3

In [17]:
D={1:"One",2:"Two",3:"Three",4:"Four", 5:"Five"}

for i in D:
  print(i,D[i])

1 One
2 Two
3 Three
4 Four
5 Five

Q8. L is a list defined as L={"One","Two","Three","Four","Five"}.
 WAP to count the length of reach element from a list and write to the file in the given below format:

One, 3

Two, 3

Four, 4

Q9. Write to the file 100 random strings whose length between 10 and 15.

Q10. Write to the file all prime numbers between 600 and 800.

Q11. WAP to calculate the time taken by a program.

Q12. WAP to sort following number of elements in a list, calculate time taken and plot the graph.

Q13. WAP to create a dictionary of student marks in five subjects and you have to find the student
 having maximum and minimum average marks.

**# Assignment 2**