<a href="https://colab.research.google.com/github/the-singingship/TSS_2024/blob/main/Day_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Assignment 1

**Q1.** L is a list defined as L= [11, 12, 13, 14].

1.   WAP to add 50 and 60 to L.
2.   WAP to remove 11 and 13from L.
3.   WAP to sort L in ascending order.
4.   WAP to sort L in descending order.
5.   WAP to search for 13 in L.
6.   WAP to count the number of elements present in L.
7.   WAP to sum all the elements in L.
8.   WAP to sum all ODD numbers in L.
9.   WAP to sum all EVEN numbers in L.
10.  WAP to sum all PRIME numbers in L.
11.  WAP to clear all the elements in L.
12.  WAP to delete L.

In [ ]:
L= [11, 12, 13, 14]
L.append(50)
L.append(60)
print(L)
L.remove(11)
L.remove(13)
L.sort()
print(L)
L.sort(reverse=True)
print(L)

for i in range (len(L)):
  if L[i]==13:
    print("13 is in the list")
    break
  else:
    pass

c=s=0
for i in L:
  c+=1
  s+=i
print("No of elements in the list are ",c)
print("Sum of elements of the list are ",s)

e=o=0
for i in L:
  if(i%2==0):
    e+=i
  else:
    o+=i
print("Sum of all the odd nos are",o,"and the sum of all the even nos are",e)

for num in L:
  p = True
  for i in range(2, num // 2 + 1):
    if num % i == 0:
      p = False
      break
    else:
      print(num, "is a prime no")

  L.clear()
  del L

[11, 12, 13, 14, 50, 60]
[12, 14, 50, 60]
[60, 50, 14, 12]
No of elements in the list are  4
Sum of elements of the list are  136
Sum of all the odd nos are 0 and the sum of all the even nos are 136

**Q2.** D is a dictionary defined as D= {1:5.6, 2:7.8, 3:6.6, 4:8.7, 5:7.7}.
1.   WAP to add new entry in D; key=8 and value is 8.8
2.   WAP to remove key=2.
3.   WAP to check weather 6 key is present in D.
4.   WAP to count the number of elements present in D.
5.   WAP to add all the values present D.
6.   WAP to update the value of 3 to 7.1.
7.   WAP to clear the dictionary.

In [1]:
D={1:5.6, 2:7.8, 3:6.6, 4:8.7, 5:7.7}
D[8]=8.8
print(D)

del D[2]
print("Removed key 2:", D)

if 6 in D:
  print("Key 6 is present in the dictionary")
else:
  print("Key 6 is not present in the dictionary")

n=len(D)
print("Number of elements:", n)

sum=sum(D.values())
print("Sum of all values:", sum)

D[3] = 7.1
print("Updated value of key 3 to 7.1:", D)

D.clear()
print(D)

{1: 5.6, 2: 7.8, 3: 6.6, 4: 8.7, 5: 7.7, 8: 8.8}
Removed key 2: {1: 5.6, 3: 6.6, 4: 8.7, 5: 7.7, 8: 8.8}
Key 6 is not present in the dictionary
Number of elements: 5
Sum of all values: 37.4
Updated value of key 3 to 7.1: {1: 5.6, 3: 7.1, 4: 8.7, 5: 7.7, 8: 8.8}
{}

**Q3.** S1 is a set defined as S1= [10, 20, 30, 40, 50, 60].
S2 is a set defined as S2= [40, 50, 60, 70, 80, 90].

1.   WAP to add 55 and 66 in Set S1.
2.   WAP to remove 10 and 30 from Set S1.
3.   WAP to check whether 40 is present in S1.
4.   WAP to find the union between S1 and S2.
5.   WAP to find the intersection between S1 and S2.
6.   WAP to find the S1 - S2.

**Q4.** Write the following program.

1. WAP to print 100 random strings whose length between 6 and 8.
2. WAP to print all prime numbers between 600 and 800.
3. WAP to print all numbers between 100 and 1000 that are divisible by 7 and 9.

**Q5.** WAP to create two lists of 10 random numbers between 10 and 30; Find
1. Common numbers in the two lists
2. Unique numbers in both the list
3. Minimum in both the list
4. Maximum in both the list
5. Sum of both the lists

Q6. WAP to create a list of 100 random numbers between 100 and 900. Count and print the:

1. All odd numbers
2. All even numbers
3. All prime numbers

Q7. D is a dictionary defined as D={1:"One",2:"Two",3:"Three",4:"Four", 5:"Five"}.
WAP to read all the keys and values from dictionary and write to the file in the given below format.

Key1, Value1

Key2, Value2

Key3, Value3

Q8. L is a list defined as L={"One","Two","Three","Four","Five"}.
 WAP to count the length of reach element from a list and write to the file in the given below format:

One, 3

Two, 3

Four, 4

Q9. Write to the file 100 random strings whose length between 10 and 15.

Q10. Write to the file all prime numbers between 600 and 800.

Q11. WAP to calculate the time taken by a program.

Q12. WAP to sort following number of elements in a list, calculate time taken and plot the graph.

Q13. WAP to create a dictionary of student marks in five subjects and you have to find the student
 having maximum and minimum average marks.

**# Assignment 2**